/*Reset CSS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  
-header
    -navbar-wrapper
        -navbar-logo
        -navbar-link-section
            -link item1
            -link item2
        -navbar-login-section

-hello section
    -hello section content
        -hello section title
        -hello section description
        -hello section actions
            actions download
            actions open browser

*/

/* Generals */

/*header*/

header {
  background-color: rgb(173, 216, 230);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: dashed black 2px;
  max-width: 80%;
  width: 1000px;
  height: 40px;
  margin: 0 auto;
  background-color: rgb(218, 165, 32);
}

.navbar-logo {
  border: dashed black 2px;
  padding: 10px;
}

.navbar-link {
  display: flex;
  justify-content: center;
  border: dashed black 2px;
  padding: 10px;
  gap: 10px;
  flex-grow: 1;
  flex-shrink: 1;
}

.navbar-login {
  border: dashed black 2px;
  padding: 10px;
}

/*HERO*/

.hello-wrapper {
  display: flex;
  justify-content: center;
}

.hello-box {
}
