/*Reset CSS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  
-header
    -navbar-wrapper
        -navbar-logo
        -navbar-link-section
            -link item1
            -link item2
        -navbar-login-section

-hello section
    -hello section content
        -hello section title
        -hello section description
        -hello section actions
            actions download
            actions open browser

*/

/* Generals */

/*header*/

header {
  background-color: rgb(173, 216, 230);
  display: flex;
  justify-content: center;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  border: dashed black 2px;
  max-width: 80%;
  width: 1000px;
  height: 50px;
  padding: 10px;
  background-color: rgb(218, 165, 32);
}

.navbar-logo {
  border: dashed black 2px;
}

.navbar-link {
  display: flex;
  justify-content: center;
  border: dashed black 2px;

  /* gap:20px; */
}

.navbar-login {
  border: dashed black 2px;
}

/*HERO*/

.hero-wrapper {
  display: flex;
  justify-content: center;
}

.hero {
}
