/*Reset CSS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header*/

header {
  background-color: rgb(173, 216, 230);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: dashed black 2px;
  max-width: 80%;
  width: 1000px;
  height: 40px;
  background-color: rgb(218, 165, 32);
}

.navbar-logo {
  border: dashed black 2px;
  padding: 10px;
  width: 200px;
}

.navbar-link {
  display: flex;
  justify-content: center;
  border: dashed black 2px;
  padding: 10px;
  gap: 10px;
  flex-grow: 1;
  flex-shrink: 1;
}

.navbar-login {
  text-align: right;
  border: dashed black 2px;
  padding: 10px;
  width: 200px;
}
/* hello */
.hello-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid gray 2px;
  width: 100%;
  height: 500px;
}

.hello-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: dashed black 2px;
  width: 50%;
  height: 80%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: dashed black 2px;
  width: 50%;
  height: 100%;
}

/* bg-color */
.bg-blue {
  background-color: rgb(0, 0, 139);
}

.bg-pink {
  background-color: rgb(238, 130, 238);
}

.bg-rosa-scuro {
  background-color: rgb(255, 192, 203);
}

.bg-azzurro {
  background-color: rgb(30, 144, 255);
}

.bg-grey {
  background-color: rgb(211, 211, 211);
}
